{% extends "shop/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Your shopping cart
{% endblock %}




{% block content %}

<div class="container pb-5 mt-5">
    <h3>Your cart: <span id="cart-items">{{ cart.count_items }}</span></h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{{ product.get_absolute_url }}">
                <img class="w-10em" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
            </a></td>
            <td><p class="product-name pretty-font pt-3 font-medium">{{ product.name }}</p></td>
            <td><p class="product-id pt-3">{{ item.quantity }}</p></td>
            <td><p class="pt-3"><span class="product-total-price pt-3">{{ item.total_price }}</span> <small class="product-item-price " >({{ item.price }}/item)</small></p></td>
            <td class="text-center float-left">
                <form action="{% url 'cart:cart_remove' product.id %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <input type="hidden" name="single" value=True />
                    <button type="submit" class="bg-transparent border-0 col-brown sans-font font-weight-bold font-medium">-</button>
                </form>
                <form action="{% url 'cart:cart_add' product.id %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <input  name="quantity" value=1 class="d-none"/>
                    <input type="submit" value="+" class="bg-transparent border-0 col-brown sans-font font-weight-bold font-medium">
                </form>
                <form action="{% url 'cart:cart_remove' product.id %}" method="POST">
                    {% csrf_token %}
                    <button type = 'submit' class="bg-transparent border-0 col-brown sans-font small">remove</button>
                </form>
            </td>

        </tr>
        {% endwith %}
        {% endfor %}
        <tr><td></td><td></td><td></td><td></td><td></td>
            <td id="total-cart">Total: {{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>

    <p class="text-right">
        <a href="{% url 'shop:products' %}" class="button light">Continue shopping</a>
    </p>
    {% if user.is_authenticated %}
    <h3>Shipment</h3>
    <hr>
    <div id="userform">
        <form action="#" method="post">
            {{ profile_form|crispy }}
            {{ address_form|crispy }}
            {% csrf_token %}
            <button type="Submit">Update address</button>
        </form>
    </div>
    {% else %}
    <div id="order-methods" class="my-5">
        <h3 class="text-center">
            <a class="btn" data-toggle="collapse" href="#loginform" role="button" aria-expanded="false" aria-controls="loginform">
                <h3> <u>login</u></h3>
            </a>
            or
            <a class="btn" data-toggle="collapse" href="#guestform" aria-expanded="false" aria-controls="guestform">
                <h3><u>order as a guest</u></h3>
            </a>
        </h3>

        <div class="collapse" id="loginform">
            <div class="card card-body w-50 ml-0 mr-auto">

                <form class="form" role="form" method="POST" action="{% url 'users:login' %}" accept-charset="UTF-8">
                    {% csrf_token %}
                    <div class="form-group">
                        <p>Email*</p>
                        <input type='text' class="form-control" id="id_username" name="username" required>
                    </div>
                    <div class="form-group">
                        <p>Password*</p>
                        <input type="password" class="form-control" id="id_password" name="password" required>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="next" value="{{ request.path }}"/>
                        <button type="submit" >login</button>
                    </div>
                    <span class="mt-3"><p>Don't have an account yet? <a href="{% url 'users:register' %}?next=/">Register here!</a></p></span>
                </form>
            </div>

        </div>
        <div class="collapse" id="guestform">
            <div class="card card-body w-50 mr-0 ml-auto">
                <form action="#" method="post">
                    {{ profile_form|crispy }}
                    {{ address_form|crispy }}
                    {% csrf_token %}
                    <button type="Submit" id="update">Update address</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    {% if can_order %}
    <form action="{% url 'orders:order' %}" method="post">
            {% csrf_token %}
        <button type="submit" class="float-right" id="order-btn">ORDER</button>
    </form>
    {% endif %}
</div>
{% endblock %}