{% extends "shop/base.html" %}
{% load static %}

{% block title %}
Your shopping cart
{% endblock %}

{% block content %}

<div class="container">
<h3>Your cart: {{ cart.count_items }}</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        {% for item in cart %}
            {% with product=item.product %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{{ product.get_absolute_url }}">
                <img class="w-10em" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
            </a></td>
            <td><p class="product-name">{{ product.name }}</p></td>
            <td><p class="product-id">{{ item.quantity }}</p></td>
            <td><p class="product-price">{{ item.total_price }} ({{ item.price }}/item)</p></td>
            <td>
                <form action="{% url 'cart:cart_remove' product.id %}" method="POST">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type = 'submit'>remove</button>
                </form>
            </td>

        </tr>
        {% endwith %}
        {% endfor %}

        </tbody>
    </table>

    <p class="text-right">
        <a href="{% url 'shop:products' %}" class="button light">Continue shopping</a>
    </p>
</div>
{% endblock %}