{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Register - Dinosauria store
{% endblock title %}

{% block content %}

<div class="container">
    <h2> Register now </h2>
    <div class="row">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}

            <input type="hidden" name="next" value="{{ request.GET.next }}"/>
            <button type="submit" id="register-btn">Register</button>
        </form>
    </div>

</div>
{% endblock content %}