{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
Dinosauria store - Products
{% endblock title %}

{% block content %}
<h3 class="text-center my-5">{{ product.name }}</h3>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="{{ product.image.url }}" class="w-50 product-img">
        </div>
        <div class="col">

            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ cart_form }}
                {% csrf_token %}
                <input type="submit" value="Add to cart" class="add-to-cart-btn">
            </form>


            <h5>Product name: {{ product.name }}</h5>
            <p>Product ID: <span name="product-id">{{ product.id }}</span></p>
            <h5>Product price: <span name="product-price">{{ product.price }}</span></h5>
            <p name="product-desc">{{ product.description }}</p>
        </div>
    </div>
</div>

{% endblock content %}
