{% extends "shop/base.html" %}
{% load static %}
{% load static %}

{% block title %}
Your shopping cart
{% endblock %}
{% block content %}

<div class="content">
    <div class="row text-center m-auto">
        <div class="col">
            <h2>Pay by credit card</h2>
            <div class="">
                <form action="." id="payment" method="post">
                    <p class="text-uppercase col-grey-green pt-2 pb-1 mb-0 small"><label for="card-number">Card Number</label></p>
                    <div id="card-number" class="field mx-auto"></div>
                    <p class="text-uppercase col-grey-green pt-2 pb-1 mb-0 small"><label for="cvv">CVV</label></p>
                    <div id="cvv" class="field mx-auto"></div>
                    <p class="text-uppercase col-grey-green pt-2 pb-1 mb-0 small"><label for="expiration-date">Expiration Date</label></p>
                    <div id="expiration-date" class="field mx-auto"></div>
                    <input type="hidden" id="token" name="payment_method_nonce" value=""> {% csrf_token %}
                    <input type="submit" value="Pay" class="add-to-cart-btn bg-col-light-green p-4 border-0 col-brown sans-font font-weight-bold mt-2">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Load the required client component. -->
<script src="https://js.braintreegateway.com/web/3.29.0/js/client.min.js">
</script>
<!-- Load Hosted Fields component. -->
<script src="https://js.braintreegateway.com/web/3.29.0/js/hosted-fields.min.js"></script>
<script>
// instantiate a client
  var form = document.querySelector('#payment');
  var submit = document.querySelector('input[type="submit"]');
  console.log('{{ client_token }}');
  braintree.client.create({
    authorization: '{{ client_token }}'
    }, function (clientErr, clientInstance) {
      if (clientErr) {
        console.error(clientErr);
        return;
      }

// instantiate hosted fields
      braintree.hostedFields.create({
        client: clientInstance,
        styles: {
          'input': {'font-size': '20px'},
          'input.invalid': {'color': 'red'},
          'input.valid': {'color': 'green'}
        },
        fields: {
          number: {selector: '#card-number'},
          cvv: {selector: '#cvv'},
          expirationDate: {selector: '#expiration-date'}
        }
      }, function (hostedFieldsErr, hostedFieldsInstance) {
        if (hostedFieldsErr) {
          console.error(hostedFieldsErr);
          return;
        }

        submit.removeAttribute('disabled');

        form.addEventListener('submit', function (event) {
          event.preventDefault();

          hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
            if (tokenizeErr) {
              console.error(tokenizeErr);
              return;
            }
            // set nonce to send to the server
            document.getElementById('token').value = payload.nonce;
            // submit form
            document.getElementById('payment').submit();
          });
        }, false);
      });
    });
</script>

{% endblock %}

