
<h5> Your addresses </h5>
<hr>

{% if address_forms %}
{% for form in address_forms %}
{% if  forloop.counter0|divisibleby:'3' %}
</div>
<div class="row mt-2">
    {% include 'users/shipment_address_box.html' with form=form %}
    {% else %}
    {% include 'users/shipment_address_box.html' with form=form %}
    {% endif %}
    {% endfor %}
    {% endif %}

</div>
<div class="row mt-2 text-center">
    <div class="col-lg-12 col-xl-6">
        <div class="p-3">

            <a class="btn" data-toggle="collapse" href="#new_address" role="button" aria-expanded="false" aria-controls="new_address">
                <h5> <u>Add new address</u></h5>
            </a>
            <div class="collapse" id="new_address">
                <form action="." method="POST">
                    {% include 'users/form_template.html' with form=new_address_form %}
                    {% csrf_token %}
                    <input type="Submit" value="Add address" class="btn btn-minimal">
                </form>
            </div>
        </div>
    </div>
</div>
