
{% if flat %}

<div class="input-minimalistic p-3 ">
{% for field in form %}
    <div class="fieldWrapper  d-inline-block ">
        {{ field.errors }}
        <p class="text-uppercase col-grey-green pt-2 pb-1 mb-0 ">
            {{ field.label_tag }}  {{ field }}</p>
    </div>
{% endfor %}
</div>

{% else %}
<div class="input-minimalistic px-3">
{% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        <p class="text-uppercase col-grey-green pt-2 pb-1 mb-0 small">
            {{ field.label_tag }} </p>
        <p>{{ field }}</p>
    </div>
{% endfor %}
</div>
{% csrf_token %}

{% endif %}