{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Profile - Dinosauria store
{% endblock title %}

{% block hero %}
{% include 'shop/top-onlydino.html' %}
{% endblock hero %}


{% block content %}

<div class="container mt-5">
    <h2> {% if user.first_name %} hey, {{ user.first_name }}! {% else %} hey! {% endif %}</h2>
    <div id="user-settings">
        <h4>Your profile:</h4>
            <form action="." method="">
                {{ profile_form }}
                {% csrf_token %}
            </form>

    </div>
    <div id="user-addresses" class="my-5">
        {% include 'users/addresses.html' with address_forms=address_forms %}
    </div>
    <div id="user-orders">
        <h4>Your orders</h4>
        <h4>Recommended for you</h4>
    </div>
</div>
{% endblock content %}