@import url(https://fonts.googleapis.com/css?family=Bad+Script|Indie+Flower);


.pretty-font {
font-family: 'Bad Script';
}

.bg-dinogreen {
background-color: #00A79D;
}

.home-img{
    max-height: 10%;
    width: auto;
}

.footer-lists{
list-style-type: none;
color: white;
}

.product-img {
    max-width:20%;
    height: auto;
}


.w-10em{
max-width: 10em;
}

.w10{
width: 10%;
}

