@import url(https://fonts.googleapis.com/css?family=Bad+Script|Indie+Flower|Montserrat);

body {
    padding-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
}

a {
    color: rgb(92, 79, 70) !important;
}

/* text */
.pretty-font {
    font-family: 'Bad Script';
}

.sans-font {
    font-family: 'Montserrat';
}

.font-bigger {
    font-size: 1.1rem;
}


.font-medium {
    font-size: 1.3rem;
}

.font-large {
    font-size: 2rem;
}
/* colors */

.bg-col-brown {
    background-color: rgb(92, 79, 70);
}

.bg-cola-brown {
    background-color: rgb(92, 79, 70, 0.1);
}

.col-brown {
    color: rgb(92, 79, 70);
}

.bg-col-light-green{
    background-color: rgb(208, 235, 192);
}

.col-grey-green{
    color: rgb(125, 118, 100);
}
.col-white {
    color: white;
}


/* position */

.home-img {
    max-height: 10%;
    width: auto;
}

.hero-text {
    position: absolute;
    bottom: 20%;
    right: 7%;
    font-size: 130px;
    font-weight: 900;
}

.footer-lists {
    list-style-type: none;
}

.product-img {
    max-width:80%;
    height: auto;
}

.w-10em {
max-width: 10em;
}


.w10 {
width: 10%;
}

/* inputs */
.input-minimalistic input{
    border: 0;
    border-bottom: 1px double rgb(125, 118, 100);
    font-family: 'Montserrat';
    background-color: transparent;
}

/* custom */



/* braintree hosted fields */
form div.field {
    border-bottom: 1px solid black;
    color:#666;
    width:300px;
    height:40px;
    margin-bottom:10px;
    color:#666;
}