{% load static %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <title>{% block title %} {% endblock title %}</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light ">
  <a href="{% url 'shop:home' %}" class="navbar-brand visible-mobile ">
    <img src="{% static 'img/logo-img-light-green-smaller.png' %}"></span>
  </a>
  <a href="{% url 'cart:cart_checkout' %}" class="visible-mobile"><b>{{ cart.count_items }}</b> <img src="{% static 'img/cart.png' %}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="bg-col-light-green rounded p-1 pb-2">
    <span class="navbar-toggler-icon bg-col-light-green"></span>
  </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <span class="nav-logo text-center visible-desktop"><a href="{% url 'shop:home' %}" class="text-decoration-none">
      <img src="{% static 'img/logo-img-light-green-smaller.png' %}" id="logo-img"><h4 class="pretty-font mx-1 col-brown" id="logo-text">Dinosauria</h4>
    </a>
      </span>
    <ul class="nav navbar-nav ml-auto pt-1 pretty-font font-medium nav-items">
      <hr>
      <li class="px-3"><a href="{% url 'shop:home' %}" >Home</a></li>
      <li class="px-3"><p>About us</p></li>
      <li class="px-3"><a href="{% url 'shop:products' %}">Products</a></li>
      <li class="px-3"><p>Delivery</p></li>
      <li class="px-3"><p>Contact</p></li>
    </ul>
    <ul class="nav navbar-nav ml-auto pr-1 pt-3 sans-font font-bigger nav-items" >
      <hr>
      {% if user.is_authenticated %}
      <li class="px-2"><a href="{% url 'users:profile' %}" id="profile-link">{% if user.first_name %} {{ user.first_name }} {% else %} profile {% endif %}</a></li>
      <li class="px-2"><a href="{% url 'users:logout' %}">logout</a></li>
      {% else %}
      <li class="px-2">{% if request.path == '/users/logout/' or request.path == '/users/login/' %}<a href="{% url 'users:register' %}?next=/">register</a>
        {% else %} <a href="{% url 'users:register' %}?next={{request.path}}">register</a> {% endif %}</li>
      <li class="px-2">{% if request.path == '/users/logout/' %} <a href="{% url 'users:login' %}?next=/">login</a>
        {% else %} <a href="{% url 'users:login' %}?next={{request.path}}">login</a>{% endif %} </li>
      {% endif %}
      <li class="px-2 visible-desktop"><a href="{% url 'cart:cart_checkout' %}" id="cart"><b>{{ cart.count_items }}</b><img src="{% static 'img/cart.png' %}"></a></li>
<!--      <div>Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
    </ul>
  </div>
</nav>

{% block hero %}
{% endblock hero %}


<section class="main-section">
  {% block content %}
  {% endblock content %}
</section>

<footer class="footer mt-5 pt-3 bg-col-brown col-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="footer-lists pt-4">
          <li> Dinosauria</li>
          <li> Street 100</li>
          <li> 10100 City, Country</li>
          <li> 100100100 </li>
          <li> dinosauria@store.com</li>
        </ul>
      </div>
      <div class="col">
        <ul class="footer-lists pt-4">
          <li>Our Products</li>
          <li>Our philosophy</li>
          <li>Privacy</li>
          <li>Delivery</li>
          <li>Returns</li>
        </ul>
      </div>
      <div class="col">
        <ul class="footer-lists pt-4">
          <li>Instagram</li>
          <li>Facebook</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="m-auto small text-center">
    Copyright &copy; <script type="text/javascript">document.write(new Date().getFullYear()); </script> <a style="color: white !important;" href='https://www.iminez.com'>i'm Inez</a>
</div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>